<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-o0G1sHzVbMhUGlYquv9XJ00C/J6uUv3ro1CHJ2T9zfdBhWd0YF4c1QbuOj/7W7C3N/QHGK6F5o2Zq6S00ByI5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbar">
        <h1>{% block Title %} <a href="{{ url_for('signin') }}">Sign In</a> <a href="{{ url_for('signup') }}">Sign Up</a> {% endblock %}</h1>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
